page-hometabs {
  ion-icon {
    &[class*="custom-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 20px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="homeBeta"][ng-reflect-is-active="false"] {
        background: url("../assets/imgs/buttons/menu_bottom/btn_home.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="homeBeta"][ng-reflect-is-active="true"] {
        background: url("../assets/imgs/buttons/menu_bottom/btn_home_selected.png") no-repeat 50% 50%;
        background-size: contain;
        background-color: aliceblue
    }//in case of inactive
    &[class*="group"] {
        background: url("../assets/imgs/group.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="networkBeta"][ng-reflect-is-active="false"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_users.png") no-repeat 50% 50%;
      background-size: contain;
    }//in case of inactive
    &[class*="networkBeta"][ng-reflect-is-active="true"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_users_selected.png") no-repeat 50% 50%;
      background-size: contain;
    }//in case of active
    &[class*="shopBeta"][ng-reflect-is-active="false"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_shop.png") no-repeat 50% 50%;
      background-size: contain;
    }//in case of inactive
    &[class*="shopBeta"][ng-reflect-is-active="true"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_ shop_selected.png") no-repeat 50% 50%;
      background-size: contain;
    }//in case of active
    &[class*="notifBeta"][ng-reflect-is-active="false"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_notif.png") no-repeat 50% 50%;
      background-size: contain;
    }//in case of inactive
    &[class*="notifBeta"][ng-reflect-is-active="true"] {
      background: url("../assets/imgs/buttons/menu_bottom/btn_notif_selected.png") no-repeat 50% 50%;
      background-size: contain;
    }
}

.tabbar {
  a.tab-button[aria-selected=true]:nth-of-type(1) {
          color: rgb(27, 182, 230);
          background-color: white;
          .tab-button-icon {
              color: rgb(27, 182, 230);
          }
      }
      a.tab-button[aria-selected=true]:nth-of-type(2) {
          color: rgb(27, 182, 230);
          background-color: white;
          .tab-button-icon {
              color: rgb(27, 182, 230);
          }
      }
      a.tab-button[aria-selected=true]:nth-of-type(3) {
          color: rgb(27, 182, 230);
          background-color: white;
          .tab-button-icon {
              color: rgb(27, 182, 230);
          }
      }
      a.tab-button[aria-selected=true]:nth-of-type(4) {
          color: rgb(27, 182, 230);
          background-color: white;
          .tab-button-icon {
              color: rgb(27, 182, 230);
          }
      }
  }
}
