<!--
  Generated template for the HometabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs [selectedIndex]="myIndex">
  <ion-tab [root]="Tab1" tabIcon="custom-homeBeta"></ion-tab>
  <ion-tab [root]="Tab2" tabIcon="custom-networkBeta"></ion-tab>
  <ion-tab [root]="Tab3" tabIcon="custom-shopBeta"></ion-tab>
  <ion-tab [root]="Tab4" tabIcon="custom-notifBeta"></ion-tab>
</ion-tabs>
