<ion-content>
	<div class="main-content">
		<div padding text-center class="container-logo">
			<img src="assets/imgs/main.png">
		</div>

		<div class="social-media-wrapper" style="">
			<ion-row>
				<ion-col>
					<button ion-button full class="social-btn google-btn" (click)="socialLogin('google')"
					style="background: #F5BDF5; color: black;">
						<img src="https://cdn.iconscout.com/icon/free/png-256/google-91-93413.png" class="google-logo">
						<span class="label" style="margin-left: 10px;">Continue with Google</span>
					</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button full class="social-btn facebook-btn" (click)="socialLogin('facebook')"
					style="background: #173C93; color: white;">
						<ion-icon name="logo-facebook" class="facebook-logo"></ion-icon>
						<span class="label" style="margin-left: 17px;">Continue with Facebook</span>
					</button>
				</ion-col>
			</ion-row>
		</div>


		<div class="or-divider-wrapper"> 
			<h4>or</h4>
			<hr>
		</div>

		<div id="sign-in-form-wrapper" padding class="container-bottom">
			<!-- --------------------------------------------------------------------------------------- -->
			<!-- START OF SIGN IN FORM -->
			<div id="sign-in-form">
				<ion-list>
					<ion-item padding-right>
						<ion-label>
							<ion-icon ios="ios-person" md="md-person"></ion-icon>
						</ion-label>
						<ion-input [(ngModel)]="userId" type="text" placeholder="USERNAME..." required></ion-input>
					</ion-item>
					<ion-item padding-right>
						<ion-label>
							<ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
						</ion-label>
						<ion-input [(ngModel)]="userPassword" type="{{passwordtype}}" placeholder="PASSWORD..." clearOnEdit="false" required></ion-input>
						<button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()"
						style="margin: 0px;">
							<ion-icon name="{{passeye}}" style="font-size: 30px; padding-right: 0px;"></ion-icon>
						</button>
					</ion-item>
					<ion-item padding-right></ion-item>
				</ion-list>

				<ion-row>
					<ion-col>
						<a href="javascript:void(0);" class="sign-in-urls" (click)="forgetpassword()">
							Forgot password?
						</a>
						<a href="javascript:void(0);" class="sign-in-urls" (click)="moveToRegister()">
							Email Sign up
						</a>
					</ion-col>
					<ion-col style="text-align: right;">
						<button ion-button  color="dark" (click)="login()" 
						[disabled]="!userPassword || !userId">
							Login
						</button>
					</ion-col>
				</ion-row>
			</div>
			<!-- END OF SIGN IN FORM -->
			<!-- --------------------------------------------------------------------------------------- -->

			
			<!-- <button ion-button  color="dark" style="width: 29px" (click)="home()"></button> -->
		</div>
	</div>

	<ion-footer>
		<div id="ion-footer-content-wrapper">
			<ion-row justify-content-center>
				By signing up to Eligit's
			</ion-row>
			<ion-row justify-content-center>
				<span style="color:#488aff" (click)='termsService()' tappable >
					Terms of Service&nbsp;
				</span>
				<span>and</span> 
				<span style="color:#488aff" (click)='policyStatement()' tappable>
					&nbsp;Policy
				</span>
			</ion-row>
		</div>
	</ion-footer>
</ion-content>
