page-login {

	// SOCIAL MEDIA SECTION STYLING
	// -------------------------------------------------------
	.social-media-wrapper {
		padding: 0px 30px 0px 30px;
	}
	.social-media-wrapper .button-inner {
		display: unset !important;
	}
	.social-btn {
		text-transform: none;
		text-align: left;
	}
	.social-btn span.label {
		float: left;
		margin-top: 10px;
		font-weight: bold;
	}
	.google-btn img.google-logo {
		width: 30px; 
		height: 30px; 
		float: left; 
		margin-left: -9px;
	}
	.facebook-btn .facebook-logo {
		float: left;
		font-size: 33px;
		margin-left: -9px;
	}
	// -------------------------------------------------------

	
	// OR DIVIDER STYLING
	// -------------------------------------------------------
	.or-divider-wrapper {
		text-align: center; 
		padding: 20px 30px 20px 30px;
	}
	.or-divider-wrapper h4 {
		color: #999999; 
		background: white !important;
		display: inline-block;
		padding: 0px 10px 0px 10px; 
		font-weight: bold;
	}
	.or-divider-wrapper hr {
		border: 0px;
		border-top: 2px solid #999999;
		margin-top: -22px;
	}
	// -------------------------------------------------------


	// SIGN IN FORM STYLING
	// -------------------------------------------------------
	.sign-in-form-wrapper {
		margin-bottom: 40%;
	}
	.sign-in-form .item-inner {
		padding-right: 0px;
	}
	.sign-in-urls {
		color:#488aff;
	}
	// -------------------------------------------------------


	// FOOTER STYLING
	// -------------------------------------------------------
	#ion-footer-content-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	// -------------------------------------------------------
}
