<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar style="color:#603AEE" color="eligit">
    <ion-title>Terms Of Service</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>Effective date: November 7, 2018</div>
  <br>
<div>Welcome to www.eligit.com (the "Website"), which is owned and operated by eligit, Inc. ("us", "we", or
"our"). We are a social media company focused on helping our users make better choices through
community engagement. Whether debating your favorite athlete or selecting your new car, the
community at eligit.com is here to help.</div>
<br>
<div>Your access to and engagement on eligit.com is governed by these terms and conditions (the "Terms".
We reserve the right to change these Terms from time to time with or without notice to you. You
acknowledge and agree that it is your responsibility to periodically review this webpage and these
Terms. Your continued use of the Website after such modifications will constitute acknowledgement
and acceptance of the modified Terms.</div>
<br>
<div>Please also review our privacy policy which can be found here.</div>
<br>

<div>BY USING THIS WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU DO NOT WISH TO BE
BOUND BY THESE TERMS, PLEASE EXIT OUR WEBSITE.</div>
<br>
<div style="font-weight:bold">User Content</div>
<br>
<div>Our Website is made possible by our users. You retain all rights to your content but also remain
responsible for any content you generate while on our Website and remain subject to any applicable
laws or regulations. Engage our Website and actively post! However, as you engage our Website and
interact with fellow users, it is important to us that you will not post comments, messages, links or other
information (collectively "User Content") that:</div>
<br>

<div>a. is unlawful, threatening, abusive, harassing, defamatory or includes graphic descriptions of
sexual or violent content;</div>
<br>
<div>b. victimizes, harasses, degrades, or intimidates an individual or group of individuals on the basis of
religion, gender, sexual orientation, race, ethnicity, age or disability;</div>
<br>
<div>c. infringes on any patent, trademark, trade secret, copyright, right of publicity, or other
proprietary right of any person or entity;</div>
<br>
<div>d. impersonates any person or entity, including any our employees or representatives, or;</div>
<br>
<div>e. contains social security numbers, state ID numbers, banking information or other confidential
information.</div>
<br>
<div>We reserve the right to remove content at our discretion that we believe violates these Terms, harms
our users or is against our values and interests.</div>
<br>
<div style="font-weight:bold">Third-Party Websites and Information</div>
<br>
<div>Like any social media platform, our users can link to other websites on the Internet or refer to
information, products or services made available by unaffiliated third-parties. We are not responsible
for the accuracy, completeness or any information contained on links appearing on our Website. No link
appearing on this Website should be taken as an endorsement for any services, products or content
appearing on the third-party website.</div>
<br>
<div style="font-weight:bold">Your Intellectual Property Rights</div>
<br>
<div>
As already mentioned, you retain intellectual property rights in your User Content. That being said, by
using our Website, you also grant us a non-exclusive, perpetual, royalty-free, worldwide right to copy,
distribute, display, publish, translate, adapt, modify and otherwise use User Content for any purpose
whatsoever, regardless of medium.</div>
<br>
<div>As we respect the intellectual property rights of others, we ask you to do the same. In instances where
we are notified of alleged infringing User Content, a decision may be made to remove access or disable
access to such materials, in compliance with the safe harbor provisions of the Digital Millennium
Copyright Act, 17 U.S.C. 512(c). We may also make a good faith attempt to contact the person who
submitted the affected material so that they may make a counter-notification.</div>
<br>
<div>If you believe that your copyright has been infringed by User Content provided on this Website, you
should send notification to our DMCA notification address at dmca@eligit.com. </div>
<br>
<div style="font-weight:bold;">
Filing a Notice of Infringing Material
</div>
<br>
<div>
To file a Notice of Infringing Material, we ask that you provide the following information:
</div>
<br>
<div>1. Reasonably sufficient details about the nature of the copyrighted work in question, or, in the
case of multiple alleged infringements, a representative list of such works. This should include, title(s),
author(s), any U.S. Copyright Registration number(s), URL(s), etc.</div>
<br>
<div>2. The URL that contains the allegedly infringing material or a reasonable description of the User
Content if a URL is not sufficient.</div>
<br>
<div>3. Your contact information so we can contact you about your DMCA notice, including your
address, telephone number and email address.</div>
<br>
<div>4. A statement that you have a good faith belief that the allegedly infringing material is not
authorized by the copyright owner, its agent or the law.</div>
<br>
<div>
5. A statement, under the penalty of perjury, that the information in the notification is accurate
and that you are either the copyright holder or authorized to act on behalf of the copyright holder.</div>
<br>
<div>
6. Your physical or electronic signature.
Filing a Counter-Notice of Infringing Material
If material that you have posted to our Website has been removed as a result of a DMCA notification,
you may file a counter-notification that contains the following information:
</div>
<br>
<div>
1. Identification of the material that has been removed or to which access has been disabled and
the location at which the material appeared before it was removed or access to it was disabled.
</div>
<br>
<div>
2. A statement, under penalty of perjury, that you have a good faith belief that the material was
removed or disabled as a result of mistake or misidentification of the material in question.</div>
<br>
<div>
3. Your address and telephone number and email address.</div>
<br>
<div>
4. A statement that you consent to the jurisdiction of the United States District Court for the
District of New Jersey in which your address is located, and that you will accept service of process from
the person who provided notification in compliance with section 512(c)(1)(c) of the DMCA, or an agent
of such person.</div>
<br>
<div>
4. Your physical or electronic signature.
You should send counter-notification to our DMCA counter-notification address at
counterdmca@eligit.com.</div>
<br>
<div style="font-weight:bold;">Registration</div><br>
<div>In order to access some of the services on this Website, you may be asked to set up an account and
password. Our account registration page requests certain personal information from you, including but
not limited to name, email address and birthdate ("Registration Info"). You will have the ability to
maintain and periodically update your Registration Info as you see fit. By registering, you agree that all
information provided by you as Registration Info is true and accurate and that you will maintain and
update this information as required in order to keep it current, complete and accurate. Furthermore, if
you register for an account on our Website, you agree that you are responsible for maintaining the
security and confidentiality of your password, and that you are fully responsible for all activities that are
incurred under your account. Therefore, you must take steps to ensure that others do not gain access
to your password and account.</div>
<br>
<div style="font-weight:bold;">Disclaimer</div>
<br>
<div>ALL CONTENT AND SERVICES ON THIS WEBSITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE"
BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED
TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE
WARRANTY OF NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY
THAT THE CONTENT, SERVICES OR WEBSITE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE.
THIS WEBISTE COULD INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR TYPOGRAHICAL
ERRORS.
THE USE, DOWLOADING OR OTHER ACQUISITION OF ANY CONTENT THROUGH THIS WEBSITE IS DONE
AT YOUR OWN DISCRETION AND RISK AND WITH YOUR AGREEMENT THAT YOU WILL BE SOLELY
RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM
SUCH ACTIVITIES.</div>
<br>
<div style="font-weight:bold;">
Limitation of Liability and Indemnification
</div>
<div>
In no event shall we or our affiliates be liable to you or any third-party for any special, punitive,
incidental, indirect or consequential damages of any kind, or any damages whatsoever, including,
without limitation, those resulting from loss of use, profit loss, whether or not we have been advised of
the possibility of such damages, and on any theory of liability, arising out of or in connection with the
use of this Website or any website referenced or linked to from this Website.
You agree to defend, indemnify, and hold us harmless from all liabilities, claims, and expenses, including
attorneys' fees that may arise from your use or misuse of this Website, a breach of these Terms or User
Content posted on this Website. We reserve the right, at our own expenses, to assume the exclusive
defense and control of any matter otherwise subject to indemnification by you, in which event you will
cooperate with us in asserting any available defenses.</div>
<br>
<div style="font-weight:bold;">Termination of Use</div>
<br>
<div>
You agree that we may, at our sole discretion, terminate or suspend your access to all or part of this
Website with or without notice and for any reason, including, without limitation, breach of these Terms.
</div><br>
<div style="font-weight:bold;">Governing Law</div>
<br><div>
This Website (excluding any Third-Party websites) is controlled by us from our offices in New Jersey, and
the statutes and laws of New Jersey shall be controlling, without regard to the conflicts of laws
principles hereof. You agree and submit to the exclusive personal jurisdiction and venue of the Superior
Court of New Jersey, County of Bergen or the United States District Court for the District of New Jersey
at our discretion.</div>
<br>
<div style="font-weight:bold;">Savings Clause</div>
<br>
<div>
If any part of these Terms is held invalid or unenforceable, that portion shall be construed in a manner
consistent with applicable law to reflect, as nearly as possible, the original intention of the parties, and
the remaining portions shall remain in full force and effect.</div>
<br>
<div style="font-weight:bold;">No Waiver</div>
<div>Any failure by us to enforce or exercise any provision of these Terms or related rights shall not
constitute a waiver of that right or provision.</div>
<br>
<div style="font-weight:bold;">Entire Agreement</div><br>
<div>These Terms constitute the entire agreement and understanding between you and us regarding your
use and operation of this Website. These Terms may not be altered, supplemented or amended by the
user of any other documents. To the extent that anything in or associated with this Website is in conflict
or inconsistent with these Terms, these Terms shall take precedence.</div>
<br>
<div>
If you have any questions regarding these Terms, contact us at admin@eligit.com.</div>
<br>
<div id="footerpane" style="height:40px;">
  <span class="footerlinks"><a style="color:white;" href="aboutus">About</a></span><span class="footerlinks">Terms Of Service</span><span class="footerlinks"><a style="color:white;" href="contact">Contact Us</a></span><span style="display:none;" class="footerlinks">Content Guideline</span><span class="footerlinks"><a style="color:white;" href="privacy">Privacy Policy</a></span>
<span class="footerlinks" style="display:none;">Copyright 2018 Eligit Inc. are registered trademark of Eligit</span>
</div>
</ion-content>
