<!--
  Generated template for the HomemainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-2 style="margin-top:13px; font-size:19px;">
        <label style="color:white;display: inline-block;">Eligit</label>
      </ion-col>
      <ion-col>
        <ion-searchbar placeholder="Search" class="searchbar-md searchbar-input "></ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <button  (click)="click()" block style="background: transparent;"><img src="assets/imgs/buttons/home/btn_ask.png" style="height: 3em;"></button>
      </ion-col>
      <ion-col col-2>
        <button class="userBtn"><label class="onUser">{{user}}</label></button>
      </ion-col>
    </ion-row>
  </ion-navbar>

  <ion-toolbar style="background:whitesmoke;height: 0px;">
    <ion-row>
      <ion-col>
        <ion-label style="color:black" tappable>Feeds:</ion-label>
    </ion-col>
    <ion-col>
      <label style="font-size: x-small" tappable>Needs Your Help</label>
    </ion-col>
    <ion-col>
      <label style="font-size: x-small" tappable>Your Interest</label>
    </ion-col>
    <ion-col>
      <label style="font-size: x-small" tappable>Featured</label>
    </ion-col>
    <ion-col>
      <label style="font-size: x-small" tappable>Popular</label>
    </ion-col>
    <ion-col>
      <label style="font-size: x-small" tappable>Recent</label>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding style="background :lightgray;">
  <ion-row style="text-align: center;margin-top: -16px;">
    <ion-col align-self-center>Top Contributors:</ion-col>
  </ion-row>
  <ion-row style=" margin-bottom: -29px;text-align: center">
    <ion-col *ngFor="let choices of listOfChoices | slice:0:4; let i=index" style="white-space: pre-wrap;text-indent: -5px;" col-3>
      <ion-row style="margin-top: -39px;">
        <label class="onFirst">{{choices.CREATED_NAME}}</label>
      </ion-row>
      <ion-row style="margin-top: -25px;">
        <label style="word-break: keep-all;float: left;white-space: pre-wrap;">{{choices.CREATED_NAME}}</label>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let choices of listOfChoices; let i = index;">
    <ion-card-header>
      <ion-col col-2 class="onFirst">
          {{choices.CREATED_NAME}}
      </ion-col>
      <ion-col>
          {{choices.CREATED_NAME}}
      </ion-col>
      <ion-col><ion-icon style="float:right;" name="close" (click)="CloseAnswer()"></ion-icon></ion-col>
    </ion-card-header>
    <hr>
    <ion-card-content>
      <ion-row style="font-weight: bold;" tappable (click)="choiceDeailsModal(i)">
        <div>
        {{choices.TITLE}}
        </div>
      </ion-row>
        <br/>
      <ion-row>{{choices.DESCRIPTION}}</ion-row>
        <br/>
      <ion-row>
        <ion-col size="4">
          <div>
              Key Factors:
          </div>
        </ion-col>
        <ion-col size="2">
          <div style="word-break: keep-all;font-size: x-small;">
            {{choices.KEY_FACTOR1}}
          </div>
        </ion-col>
        <ion-col size="2">
          <div style="word-break: keep-all;font-size: x-small;">
            {{choices.KEY_FACTOR2}}
          </div>
        </ion-col>
        <ion-col size="4">
          <div style="word-break: keep-all;font-size: x-small;">
             {{choices.KEY_FACTOR3}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div>
          Choice Tags:
        </div>
      </ion-row>
      <br/>
      <ion-row>
        <ion-col col-3>
          <div>
              Votes(<label>{{choices.TOTAL_VOTES}}</label>}
          </div>
        </ion-col>
        <ion-col col-5>
          <div>
              Views(<label>{{choices.TOTAL_VIEWS}}</label>}
          </div>
        </ion-col>
        <ion-col col-4 style="float:right;" *ngIf="isClick">
          <div>
            <button style="width: 150px;display: flex;padding: 4px;background: transparent;" (click)="ShowAnswer(i)" tappable>
              <img src="assets/imgs/play.png" style="height: 20px;width: 26px;"> Answer
            </button>
          </div>
        </ion-col>
      </ion-row>
      <ion-card-content [attr.id]="'undoBtn'+i" *ngIf="show===i" id="choices.CHOICE_ID">
        <hr>
        <ion-row>
          <label style="color:#3A9FEE;">Your Answer:</label>
        </ion-row>
        <ion-row>
          <label>Select Your Recommendation:</label>
        </ion-row>
        <ion-row>
          <ion-col style="margin-top: -13px;">
            <ion-select interface="popover" placeholder="Select One" style="display: inherit;width: 195px;" class="ion-select" [(ngModel)]="leadingFactor" okText="OK" cancelText="Cancel" (ionChange)="getFactor()">
              <ion-option *ngFor="let option of getPollOptions(choices.POLL_OPTION_VALUES)" [value]="option" [attr.id]="'leadingBtn'+i">{{option}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="height:49%;">
            <input placeholder="Add New Options" class="inputAdd" type="text" tappable>
          </ion-col>
          <ion-col col-3 style="height:49%;">
            <button class="addButton" tappable>ADD</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <label>Recommendation for Each Key Factor:</label>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <label style="display: -webkit-inline-box"> {{choices.KEY_FACTOR1}}</label>
          </ion-col>          
          <ion-col style="margin-top: -13px;">
            <ion-select interface="popover" placeholder="Select One" style="display: inherit;width: 195px;" class="ion-select" [(ngModel)]="keyFactor1" okText="OK" cancelText="Cancel" (ionChange)="getSelectedKey1()">
              <ion-option *ngFor="let option of getPollOptions(choices.POLL_OPTION_VALUES);" [value]="option" [attr.id]="'optionBtn'+i">{{option}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <label style="display: -webkit-inline-box"> {{choices.KEY_FACTOR2}}</label>
          </ion-col>
          <ion-col style="margin-top: -13px;">
            <ion-select interface="popover" placeholder="Select One" style="display: inherit;width: 195px;" class="ion-select" [(ngModel)]="keyFactor2" okText="OK" cancelText="Cancel" (ionChange)="getSelectedKey2()">
              <ion-option *ngFor="let option of getPollOptions(choices.POLL_OPTION_VALUES)" [value]="option">{{option}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <label style="display: -webkit-inline-box"> {{choices.KEY_FACTOR3}}</label>      
          </ion-col>
          <ion-col style="margin-top: -13px;">
            <ion-select interface="popover" placeholder="Select One" style="display: inherit;width: 195px;" class="ion-select" [(ngModel)]="keyFactor3" okText="OK" cancelText="Cancel" (ionChange)="getSelectedKey3()">
              <ion-option *ngFor="let option of getPollOptions(choices.POLL_OPTION_VALUES)" [value]="option">{{option}}</ion-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Detailed answer"></textarea>
        </ion-row>        
      </ion-card-content>      
     </ion-card-content>
    <ion-row [attr.id]="'undoBtn'+i" *ngIf="show===i">
          <ion-col col-6 style="display: inline-grid;height: 50px;"><button class="cancelButton">Cancel</button></ion-col>
          <ion-col col-6 style="display: inline-grid;height: 50px;"><button class="okButton">Submit Answer</button></ion-col>
    </ion-row>
  </ion-card>
</ion-content>
