page-homemain {
.iconButton{
  background: #3A9FEE;
  color: white;
  border-radius: 47px;
  width: 49px;
  height: 46px;
}

.searchbar-md .searchbar-input {
  border-radius: 28px !important;
}
.userBtn{
  background: #3A9FEE;
  border-radius: 47px;
  overflow: overlay;
  font-size: initial;
}
.onUser{
  display: inline-block;
  color: transparent;
  width: 30px;
  height: 30px;
  margin-top: 6px;
  text-indent: 5px;
  overflow: overlay;
}
.onUser:first-letter{
  color: white;
  margin-left: 15%;
}
.onFirst{
  display: inline-block;
  background: #3A9FEE;
  border-radius: 47px;
  color: transparent;
  width: 30px;
  height: 30px;
  text-indent: 2px;
  overflow: overlay;
}
.onFirst:first-letter{
  color: white;
  margin-left: 9%;
}
.addButton{
    background: transparent;
    height: 49%;
    // margin-top: 27%;
    background-color: #3A9FEE;
    border-radius: 17px;
}
  .inputAdd{
    border: 1px solid gray;
    border-radius: 37px;
    max-height: 100%;
    height: 47%;
    width: 100%
  }
  .text-input .text-input-md{
    max-height: 100%;
    height: 47%;
  }
  .ion-select{
    max-width: 100% !important;
  } 
  .select-md .select-icon {
    position: relative;
    width: 12px;
    height: 19px;
    float: right;
    margin-top: -19px;
  }
  .cancelButton .okButton{
    background: transparent;
    height: 40px;
  }
  .cancelButton{
    background-color: #3A9FEE;
    color: white;
  }
  .okButton{
    
    background-color: #51E839;
    color: white;
  }
  .card-content-md {
    padding: 9px 8px !important; 
  }
}
