<!--
  Generated template for the ChoicedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content >
  <ion-row style="height: 7px;"></ion-row>
  <ion-row>
    <ion-col col-2 ><label class="onName">{{name}}</label></ion-col>
    <ion-col><label>{{name}}</label></ion-col>  
  </ion-row>

  <hr>
  <ion-row>
    <ion-col style="padding: 14px;">
      {{title}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="margin-left: 7px;font-size: x-small;display: block;">{{description}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" style="font-size:12px;font-weight: 500">Key Factors:</ion-col>
    <ion-col size="2" style="font-size: x-small"><label>1.{{keyFactor1}}</label></ion-col>
    <ion-col size="2" style="font-size: x-small"><label>2.{{keyFactor2}}</label></ion-col>
    <ion-col size="4" style="font-size: x-small"><label>3.{{keyFactor3}}</label></ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="font-size:12px;font-weight: 500">Choice Tags:</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button style="width: 150px;display: flex;padding: 4px;background: transparent;font-size:12px;font-weight: 500;" tappable>
        <img src="assets/imgs/play.png" style="height: 20px;width: 26px;">Share Answer
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      Votes Summary({{totalVotes}})
    </ion-col>
    <ion-col>
      <button style="color:white;background:blue;">View Voters</button>
    </ion-col>
  </ion-row>
</ion-content>
