page-choicedetails {
.iconButton{
  background: #3A9FEE;
  color: white;
  border-radius: 47px;
  width: 49px;
  height: 46px;
}

.searchbar-md .searchbar-input {
  border-radius: 28px !important;
}
.onName{
  display: inline-block;
  color: transparent;
  width: 25px;
  height: 25px;
  background: #3A9FEE;
  border-radius: 47px;
}
.onName:first-letter{
  color: white;
  margin-left: 9%;
}
.addButton{
    background: transparent;
    height: 49%;
    // margin-top: 27%;
    background-color: #3A9FEE;
    border-radius: 17px;
}
  .inputAdd{
    border: 1px solid gray;
    border-radius: 37px;
    max-height: 100%;
    height: 47%;
    width: 100%
  }
  .text-input .text-input-md{
    max-height: 100%;
    height: 47%;
  }
  .ion-select{
    max-width: 100% !important;
  } 
  .select-md .select-icon {
    position: relative;
    width: 12px;
    height: 19px;
    float: right;
    margin-top: -19px;
  }
  .cancelButton .okButton{
    background: transparent;
    height: 40px;
  }
  .cancelButton{
    background-color: #3A9FEE;
    color: white;
  }
  .okButton{
    
    background-color: #51E839;
    color: white;
  }
  .card-content-md {
    padding: 9px 8px !important; 
  }
  .chart-wrapper {
    width: 25%;
    display: inline-block;
    margin: 1em 2em;
 }


 canvas  {
    height: 500px;
 }
}
