<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="eligit" style="color:#603AEE">
    <ion-title>Privacy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    Effective date: November 5, 2018
  </div>
  <br>
  <div>
    Eligit, Inc. ("us", "we", or "our") values the privacy of its users.
    We are the controller of our customer's personal information and are responsible for such information's collection, use and disclosure.
    This privacy policy governs the use of the website, https://www.eligit.com/ (hereinafter referred to as the "Website").
    By using the Website, you agree to the collection and use of the information collected as stated in this policy.
  </div>
  <br>
  <div style="font-size:18;font-weight:bold;">Information Collection and Use</div>
  <br>
  <div>When you sign up for and utilize our Website, we collect various forms of data in order to provide and improve our services for you.   The types of data collected include Personal Data, Usage Data and Cookies which are further explained below.</div>
  <br>
  <div style="font-size:18;font-weight:bold;">Personal Data</div>
  <br>
  <div>When you sign up for our Website, we ask you to provide us with certain personally identifiable information for the purposes of establishing your Account Profile.  Such information may include:</div>
 <div style="padding-left:20px;"><ul>
  <li>Email address</li>
<li>First name and last name</li>
<li>Phone number</li>
<li>Address</li>
<li>Location Information</li>
<li>Birthday</li>
<li>Gender</li></ul>
 </div>
 <br>
 <div>We also collect other forms of data in the course of providing our services to you.  Such information includes pictures you may upload, data uploaded when signing in with third-party services (e.g. Google or Facebook), comments you may post, likes or votes you may make and other information gathered during the course of your interaction with the Website.
We may use your Personal Data to contact you with information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or the instructions provided in any email we send.
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Usage Data</div>
 <br>
 <div>We may also collect information on how the Website is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Website that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.  We may use third-party Service Providers, including Google Analytics, to monitor and analyze Usage Data.</div>
 <br>
 <div style="font-size:18;font-weight:bold;">Tracking Cookies Data</div>
 <br>
 <div>Cookies are small bits of data which include an anonymous unique identifier.  Cookies are sent to your browser from a website and stored on your device.  We use cookies and other similar tracking technologies to track the activity on our Website and to improve our service for you.  You can instruct your browser to refuse all cookies or to indicate when a cookie is sent.  However, refusing or limiting cookies may prevent you from using certain services on our Website.</div>
 <br>
 <div style="font-size:18;font-weight:bold;">Use of Data</div>
 <br>
 <div>eLigit, Inc. uses the collected data for various purposes, including the following:</div>
  <div style="padding-left:20px;"><ul>
  <li>To provide, maintain and improve our Website for our users</li>
<li>To notify you about changes to our Website or Privacy Policy</li>
<li>To provide customer support</li>
<li>To monitor the usage of our Website</li>
<li>To detect, prevent and address technical issues</li>
<li>To provide you by text or email with news, special offers and general information about our services.</li>
 </ul>
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Sharing of Data</div>
 <br>
 <div>The privacy of our users is important to us.  However, in order to provide services to you and to utilize the Website, certain data will be shared.  When you use our Website, other users will have access to data you make publicly available, such as photographs, comments and other posts you make to the Website.  In addition, certain information from you profile will be made public, including your account photograph and any details on your account you make publicly visible.  Where indicated, you can set the privacy settings to your account to limit who can see your data.  Posts, comments and other data made by you to our Website may also be shared on other platforms by you or other users from our Website.

We also have to disclose Personal Data under certain circumstances.  For example, we share information when required to do so by law or in response to valid requests by public authorities (e.g. a court or a governmental agency).  Further, we disclose data when needed to protect our legal rights and to prevent our liability, to prevent or investigate possible wrongdoing in connecting with the Website and to protect the personal safety of our users.
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Security of Data</div>
 <br>
 <div>We take the security of the data provided to us.  That being said, any transfer of data over the Internet or any information electronically stored cannot be 100% secure.  While we utilize commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</div>
 <br>
 <div style="font-size:18;font-weight:bold;">Retention of Data</div>
 <br>
 <div>We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes and enforce our legal agreements and policies.
We will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Website, or we are legally obligated to retain this data for longer periods.
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Transfer of Data</div>
 <br>
 <div>Your information, including Personal Data, may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction.
If you are located outside United States and choose to provide information to us, please note that we transfer the data, including Personal Data, to United States and process it there.
Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
We will take all the steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">
 Legal Basis for Processing Personal Data under the General Data Protection Regulation (GDPR)
 </div>
 <br>
 <div>If you are from the European Economic Area (EEA), our legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.
eLigit, Inc. may process your Personal Data because:
</div>
<div style="padding-left:20px;"><ul>
<li>We need to perform a contract with you</li>
<li>You have given us permission to do so</li>
<li>The processing is in our legitimate interests and it is not overridden by your rights</li>
<li>To comply with the law</li>
</ul>
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Your Data Protection Rights under the General Data Protection Regulation (GDPR)</div>
 <br>
 <div>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. We aim to take reasonable steps to allow you to correct, amend, delete or limit the use of your Personal Data.
If you wish to be informed about what Personal Data we hold about you and if you want it to be removed from our systems, please contact us.
In certain circumstances, you have the following data protection rights:
The right to access, update or delete the information we have on you. Whenever made possible, you can access, update or request deletion of your Personal Data on file with us. If you are seeking to access, update or delete your Personal Information, please contact us to assist you.
The right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete.
The right to object. You have the right to object to our processing of your Personal Data.
The right of restriction. You have the right to request that we restrict the processing of your personal information.
The right to data portability. You have the right to be provided with a copy of the information we have on you in a structured, machine-readable and commonly used format.  You can download your account from
The right to withdraw consent. You also have the right to withdraw your consent at any time where we relied on your consent to process your personal information.
Please note that we may ask you to verify your identity before responding to such requests.
You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).
 </div>
 <br>
 <div style="font-size:18;font-weight:bold;">Our Policy on "Do Not Track" Signals under the California Online Protection Act (CalOPPA)</div>
 <br>
 <div>Please note that we do not support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.  You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</div>
 <br>
 <div style="font-size:18;font-weight:bold;">Service Providers</div>
 <br>
 <div>We may employ third party companies and individuals ("Service Providers") to perform business-related services or assist us in analyzing how our Website is used.  These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</div>
 <br>
 <div style="font-size:18;font-weight:bold;">Links to Other Sites</div>
 <br>
 <div>
Our Website may contain links to other websites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party websites or services.</div>
<br>
<div style="font-size:18;font-weight:bold;">Children's Privacy</div>
<br>
<div>Our Website is not intended for anyone under the age of 13 ("Children") and we do not knowingly identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
</div>
<br>
<div style="font-size:18;font-weight:bold;">Changes to This Privacy Policy</div>
<br>
<div>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "effective date" at the top of this Privacy Policy.
</div>
<br>
<div style="font-size:18;font-weight:bold;">Contact Us</div>
<br>
<div>
If you have any questions about this Privacy Policy, please contact us:
admin@eligit.com
 </div>
 <div id="footerpane" style="height:40px;">
  <span class="footerlinks"><a style="color:white;" href="aboutus">About</a></span><span class="footerlinks">Terms Of Service</span><span class="footerlinks"><a style="color:white;" href="contact">Contact Us</a></span><span style="display:none;" class="footerlinks">Content Guideline</span><span class="footerlinks"><a style="color:white;" href="privacy">Privacy Policy</a></span>
<span class="footerlinks" style="display:none;">Copyright 2018 Eligit Inc. are registered trademark of Eligit</span>
</div>
</ion-content>
